Source: {{ bundle_name }}
Maintainer: Paul Bovbel <pbovbel@locusrobotics.com>
Section: main
Priority: standard
Standards-Version: 4.0.0
Build-Depends: {{ build_depends | join(', ') }}
Homepage: http://www.locusrobotics.com

Package: {{ bundle_name }}
Architecture: amd64
Depends: {{ run_depends | join(', ') }}
Description: This is a test
