Source: {{ debian_name }}
Section: main
Priority: standard
Maintainer: {{ maintainer }}
Homepage: http://www.locusrobotics.com
Standards-Version: 4.0.0
Build-Depends: debhelper-compat (= 13)
Rules-Requires-Root: no

Package: {{ debian_name }}
Architecture: amd64
{% if run_depends is defined %}
Depends: {{ run_depends | join(', ') }}
{% endif %}
{# XB- routes a user-defined field through dpkg-gencontrol into the binary package verbatim. #}
{% if build_depends is defined %}
XB-Build-Depends: {{ build_depends | join(', ') }}
{% endif %}
{% if build_time is defined %}
XB-XBS-Build-Time: {{ build_time }}
{% endif %}
Description: {{ description }}{{ "\n" | safe }}
