Package: {{ debian_name }}
Version: {{ debian_version }}
Priority: standard
Architecture: amd64
Maintainer: {{ maintainer }}
Homepage: http://www.locusrobotics.com
Section: main
Standards-Version: 4.0.0
Depends: {{ run_depends | join(', ') }}
{% if build_depends is defined %}
Build-Depends: {{ build_depends | join(', ') }}
{% endif %}
Description: {{ description }}
