#!/usr/bin/make -f

%:
	dh $@

export PYTHONUNBUFFERED=1
export LOCUS_VERSION={{ release_label}}-{{ debian_version }}
export CCACHE_BASEDIR=$(CURDIR)

SHELL=bash
INSTALL_DIR=debian/tmp/opt/{{ organization }}/{{ release_label }}/{{ flavour }}
SETUP_FILE=$(INSTALL_DIR)/setup.bash

# Do this oneshot as part of override_dh_auto_install
override_dh_auto_clean:
override_dh_auto_configure:
override_dh_auto_build:
override_dh_auto_test:

override_dh_auto_install:
	mkdir -p $(INSTALL_DIR)
	touch $(SETUP_FILE)

{% for distro_name, distro_options in distributions.items() %}
{% if distro_options['root_packages'] is not none %}
	source $(SETUP_FILE) && \
	export ROS_DISTRO_OVERRIDE={{ organization }}-{{ release_label }}-{{ flavour }}-{{ distro_name }} && \
	env && TERM=dumb colcon build \
		--packages-up-to {{ distro_options['root_packages'] | join(' ') }} \
		--base-paths src/{{ distro_name }} \
		--build-base debian/tmp/build/{{ distro_name }} \
		--install-base $(INSTALL_DIR)/{{ distro_name }} \
		--cmake-args \
			-DCMAKE_CXX_FLAGS='{{ cxx_flags | join(' ') }}' \
			-DCMAKE_CXX_STANDARD='{{ cxx_standard }}' \
			-DCMAKE_CXX_STANDARD_REQUIRED='ON' \
			-DCMAKE_CXX_EXTENSIONS='ON' \
			-DCMAKE_CXX_COMPILER_LAUNCHER=ccache \
		--ament-cmake-args \
			-DBUILD_TESTING=OFF \
		--catkin-cmake-args \
			-DCATKIN_SKIP_TESTING=1 \
		--merge-install

	echo "source $(INSTALL_DIR)/{{ distro_name }}/setup.bash" >> $(SETUP_FILE)

	# Workaround colcon not creating env.sh https://github.com/colcon/colcon-ros/issues/16
	cp debian/env.sh $(INSTALL_DIR)/{{ distro_name }}/env.sh
{% endif %}
{% endfor %}

# TODO(pbovbel) create separate debug packages
override_dh_strip:

# We don't really care about calculating shlibdeps
override_dh_shlibdeps:

override_dh_installdeb:
	# Fixup absolute and relative paths for installation target into /opt, don't touch binary files
	# grep "debian/tmp/opt" -Ilr . | xargs sed -ri "s|($(CURDIR)/)?debian/tmp/opt|/opt|g" && \
	find . -type f ! -name '*.so' -exec sed -ri "s|($(CURDIR)/)?debian/tmp/opt|/opt|g" {} ";" && \
	dh_installdeb
