#!/usr/bin/make -f

%:
	dh $@ --parallel

export PYTHONUNBUFFERED=1
export PYTHONDONTWRITEBYTECODE=1
export PYTHONPYCACHEPREFIX="$HOME/.cache/cpython/"
export CCACHE_BASEDIR=$(CURDIR)

SHELL=bash
INSTALL_DIR=debian/tmp/opt/{{ organization }}/{{ release_label }}

# Do this oneshot as part of override_dh_auto_install
override_dh_auto_clean:
override_dh_auto_configure:
override_dh_auto_build:
override_dh_auto_test:

override_dh_auto_install:
	mkdir -p $(INSTALL_DIR)
	if [ -f "{{ src_dir }}/{{ distro_name }}_install/setup.bash" ]; then \
		source {{ src_dir }}/{{ distro_name }}_install/setup.bash; \
	fi; \
	export ROS_DISTRO_OVERRIDE={{ organization }}-{{ release_label }} && \
	export MAKEFLAGS="-j 1" && \
	env && \
	TERM=dumb colcon build \
		--packages-select {{ package_name }} \
		--base-paths {{ src_dir }}/{{ distro_name }} \
		--build-base debian/tmp/build/{{ distro_name }} \
		--install-base {{ src_dir }}/{{ distro_name }}_install \
		--cmake-args \
			-DCMAKE_CXX_FLAGS='{{ cxx_flags | join(' ') }}' \
			-DCMAKE_CXX_STANDARD='{{ cxx_standard }}' \
			-DCMAKE_CXX_STANDARD_REQUIRED='ON' \
			-DCMAKE_CXX_EXTENSIONS='ON' \
			-DCMAKE_CXX_COMPILER_LAUNCHER=ccache \
			-DPYTHON_EXECUTABLE=/usr/bin/python{{ python_version }} \
		--ament-cmake-args \
			-DBUILD_TESTING=OFF \
		--catkin-cmake-args \
			-DCATKIN_SKIP_TESTING=1 \
		--merge-install \
		--catkin-skip-building-tests \
		--event-handlers console_direct+

# TODO(pbovbel) create separate debug packages
override_dh_strip:

# We don't really care about calculating shlibdeps
override_dh_shlibdeps:

override_dh_installdeb:
	# Fixup absolute and relative paths for installation target into /opt, don't touch .so libs
	find . -type f -exec grep -I -q . {} \; -print0 | xargs -0 sed -ri "s|($(CURDIR)/)?debian/tmp/opt|/opt|g" && \
	find . -name '*.pyc' -delete && \
	dh_installdeb

overide_dh_builddeb:
	dh_builddeb -- -Zzstd --threads-max=32
