#!/usr/bin/make -f

%:
	dh $@

export PYTHONUNBUFFERED=1
# export PYTHONDONTWRITEBYTECODE=1
export ROS_DISTRO_OVERRIDE={{ origin }}-{{ release_label }}-{{ flavour }}
export LOCUS_VERSION={{ release_label}}-{{ debian_version }}
export CCACHE_BASEDIR=$(cwd)

INSTALL_DIR=opt/{{ origin }}/{{ release_label }}/{{ flavour }}

override_dh_shlibdeps:
override_dh_perl:
override_dh_makeshlibs:
override_dh_strip:

override_dh_auto_clean:
	rm -rf build install log

override_dh_auto_configure:
	colcon metadata add default https://raw.githubusercontent.com/colcon/colcon-metadata-repository/master/index.yaml

override_dh_auto_build:
override_dh_auto_test:

override_dh_auto_install:
	# ROS_HOME=debian/tmp TERM=dumb catkin build {{ packages | join(' ') }} --no-status
	TERM=dumb colcon build \
		--base-paths src \
		--build-base debian/tmp/build \
		--install-base debian/tmp/$(INSTALL_DIR) \
		--packages-up-to {{ packages | join(' ') }} \
		--merge-install \
		--catkin-cmake-args \
			-DCMAKE_CXX_FLAGS='{{ cxx_flags | join(' ') }}' \
			-DCMAKE_CXX_STANDARD='{{ cxx_standard }}' \
			-DCMAKE_CXX_COMPILER_LAUNCHER=ccache

	# Workaround https://github.com/colcon/colcon-ros/issues/16
	cp debian/env.sh debian/tmp/$(INSTALL_DIR)/env.sh

	echo $(pwd)

	# Fixup paths
	find . -type f -exec sed -i "s|$(pwd)/debian/tmp/|/|g" {} ";"
